body {
    padding: 0;
    margin: 0;
    max-height: 100%;
}

div {
    box-sizing: border-box;
}

.root {
    height: 100vh;
    width: 100vw;
}

.layout {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-template: 100px calc(100% - 100px) / 400px 1fr;
    grid-template-areas: "header editor"
                         "list editor";

    &__header {
        grid-area: header;
    }

    &__list {
        grid-area: list;
    }

    &__editor {
        grid-area: editor;
    }
}

.list {
    overflow-y: scroll;
    overflow-x: hidden;

    &-item {
        cursor: pointer;
    }
}

.editor {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    padding-top: 50px;

    &-field {
        padding: 20px 30px;
        width: 100%;
    }

    
    &__avatar {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    &__save {
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.logo-editor {
    width: 100%;
    display: grid;
    padding: 20px;
    grid-template: 70px 1fr 70px / 1fr 1fr;
    grid-template-areas: "title title"
                         "upload logo-picker"
                         "slider slider";

    &__title {
        grid-area: title;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &__picker {
        grid-area: logo-picker;
    }

    &__slider-wrapper {
        grid-area: slider;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__slider {
        width: 500px;
        height: 70px;
        padding: 20px;
        overflow: hidden;
    }

    &__upload-wrapper {
        grid-area: upload;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    &__upload_item {
        padding: 10px 0;
    }
}

.editable-field {
    width: 100%;
    min-height: 50px;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    padding: 5px;

    &_left {
        justify-content: flex-start;
    }

    &_center {
        justify-content: center;
    }

    &__text {
        padding: 3px 15px;

        &_title {
            // realy sorry for this, material-ui/styled in beta and doesn't work...
            font-size: 17px !important;
            font-weight: bold !important;
        }

        &_default {
            font-size: 15px !important; 
            font-weight: normal;
        }
    }

    &__label {
        font-size: 14px;
    }

    &__input {
        width: 100%;
    }
}

.quiz-editor {
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;


}

.quiz-answer {
    width: 100%;
    padding: 7px 10px;
    margin: 6px 0;
    display: grid;
    grid-template: auto auto / 1fr 50px;
    grid-template-areas: "title is-right"
                         "description description";

    &__title {
        grid-area: title;
    }

    &__is-right {
        grid-area: is-right;
    }

    &__description {
        grid-area: description;
    }
}

.place-routes {
    margin: 20px 10px;
    padding: 10px;
}

.login-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    width: 350px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
